
<% if @users == nil %>

<% else %>
  <% @users.each do |result| %>
  <%= image_tag(result.display_picture.url) %>
  <p><%= result.full_name %></p>
  <p><%= link_to "#{result.username}", user_photos_path(result.id) %></p>
  <p><%= result.email_address %></p>
  <%end%>
<% end %>
